html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin: 100px 0 250px 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 55%;
  background-color: #283e50;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 30px;
  padding: 0 30px 50px 30px;
  text-align: center;
}

h2 {
  color: #ffffff;
}

.green {
  background-color: #1fcca4;
  border: #1fcca4;
  margin: 0 0 2px 0;
  height: 80px;
  padding: 0;
}

button .green:hover {
  color: #1cbb96;
}

.blu {
  background-color: #0197f6;
  border: #0197f6;
  height: 80px;
}
