html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin: 100px 0 250px 0;
}

.gradient {
  background-color: rgb(110, 110, 231);
  background-image: linear-gradient(rgb(110, 110, 231), pink);
}

section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #283e50;
  border-radius: 20px 20px 0 0;
}

img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 30px;
  padding: 0 30px 50px 30px;
  text-align: center;
}

h2 {
  color: #ffffff;
}

button {
  height: 80px;
  border: 0;
  margin: 2px 0 0 0;
}

.green {
  background-color: #1fcca4;
}

.green:hover {
  background-color: #1cbb96;
}

.blu {
  background-color: #0197f6;
}

.blu:hover {
  background-color: #0090e9;
}
